<% include partials/header.ejs %>

<div class="container">
  <div class="flex jc-between ai-start">
    <div class="sidebar flex-30">
      <h3><a href="">Dashboard</a></h3>
      <h3><a href="">Subscriptions</a></h3>
      <h3><a href="">Queue</a></h3>

      <h3><a href="">Setting</a></h3>
      <h3><a href="">Help</a></h3>
    </div>
    <div class="flex-60">
      <h2>Popular and Trending</h2>
      <hr />
      <h2>Top podcasts in Society & Culture</h2>
      <hr />
      <h2>Top podcasts in Comedy</h2>
      <hr />
      <h2>Top podcasts in News & Politics</h2>
      <hr />
      <h2>Top podcasts in Sport & Recreation</h2>
      <hr />
      <h2>Top podcasts in Education</h2>
      <hr />
      <h2>Top podcasts in Business</h2>
      <hr />
      <h2>Top podcasts in Technology</h2>
    </div>
  </div>
</div>

<% %>
